.main-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 25px;
}

.img-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card:hover{
    cursor: pointer;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.card > img{
    width: 65%;
    height: 65%;
}

.book-info{
    padding-top: 15px;
    font-size: 20px;
    text-align: left;
    width: 65%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.book-info > p{
    font-size: 15px;
    color: red;
}